/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
    margin:0;
    padding:0;
    border:none;
}

body{
    background-color:rgb(103, 134, 173);
    font-family: 'Roboto', sans-serif ;
}

/* HEADER */
header{
    width:100%;
    padding: 25px;
    text-align: center;
    background-color: rgb(126, 149, 177);
    box-sizing: border-box;
}

.links{
    font-size: 20px;
}
.links a+a{
    margin-left:30px;
}

.links a{
    text-decoration: none;
    color:white;
    position: relative;
}
.links a:hover{
    color:rgb(63, 78, 95);
    transition: color 200ms;
}
.links a.active{
    font-weight: bold;
    color:rgb(63, 78, 95);
}
.links a::after{
    content:"";
    width:0;
    height:2px;
    background-color: rgb(63, 78, 95);
    position: absolute;
    left:0;
    bottom:-4px;
}
.links a:hover::after{
    width:100%;
    transition: width 200ms;

}

/* CARD */
.card{
    height: 500px;
    width:860px;
    background-color: rgb(219, 228, 233);
    margin: 60px auto;
    box-shadow: 2px 2px 1px rgba(0,0,0,.4);
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 20px 0px;

    animation: up 600ms ease-out;
}

@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px)
    }
    to{
        opacity: 1;
    }
}

.details{
    padding:22px;
}

.details .item{
    border-bottom:1px solid rgba(0,0,0,0.5);
    padding:14px 0;
}
.details .item:last-child{
    border:none;
}
.details .item div:nth-child(1){
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.8px;
}

.details .item div:nth-child(2){
    font-weight: bold;
    color:#412828;
}

.details .item span{
    padding:8px 16px;
    background-color: rgb(140, 103, 148);
    display: inline-block;
    border-radius:10px;
    margin-right:15px;
    color:white;
}

/* ANIMATION */
