{% extends "layout.njk" %}

{% block title %}
<title>Private Classes - Home Page</title>
{% endblock title %}

{% block content %}
<div class="card">
    <section class="image" style="background:url({{teacher.avatar_url}}) no-repeat center center / cover">
    </section>
    <section class="details">
    <div class="item">
        <div>Nome</div>
        <div>{{ teacher.name }}</div>
    </div>
    <div class="item">
        <div>Idade</div>
        <div>{{ teacher.age }}</div>
    </div>
    <div class="item">
        <div>Grau de Escolaridade</div>
        <div>{{ teacher.escolarity}}</div>
    </div>
    <div class="item">
        <div>Tipo de aula</div>
        <div>{{"Presencial" if teacher.type == "P" else "À distância" }}</div>
    </div>
    <div class="item">
        <div>Acompanhamento</div>
        <div>
        {% for class in teacher.classes %}
            <span>{{ class }}</span>
        {% endfor %}
        </div>
    </div>
    <div class="item">
        <div>Desde</div>
        <div>{{ teacher.created_at}}</div>
    </div>
    <a href="/teachers/{{teacher.id}}/edit" class="button">Editar</a>
    </section>
</div>
{% endblock content %}